################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/Lab.Coffe/FileContentIndex/0f4350ce-adfb-4e5f-9f95-c416112a17dd.vsidx
/.gitignore
# Build results
bin/
obj/
.vs/